@import '../../assets/theme/variable.less';

.collection {
  .collection-main-title {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 600;
    background: @bg9;
    background-clip: text;
    color: transparent;
  }

  .collection-pane {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 64px;
  }
}
