@import '../../../../assets/theme/variable.less';

.overlay-header {
  .@{app-prefix}-menu {
    cursor: default;
    border-radius: 12px;
    border: 1px solid @border1;
    background: @bg2;
    overflow: hidden;
    padding: 0;
    .@{app-prefix}-menu-item {
      display: flex;
      margin: 0;
      padding: 0 19px;
      min-width: 137px;
      min-height: 56px;
      background: transparent;
      height: auto;
      span,
      a {
        flex: 1;
        display: flex;
        align-items: center;
        color: @text1;
        transition: all 0.3s;
      }
      svg {
        fill: white;
        transition: all 0.3s;
        margin-right: 11px;
      }
      &:hover {
        background: transparent;
        span,
        a {
          color: @blue2;
        }
        svg {
          fill: @blue2;
        }
      }
    }
  }
}
.overlay-wallet,
.wallet-menu {
  .@{app-prefix}-menu {
    min-width: 304px;
    padding: 0 16px;
    .@{app-prefix}-menu-item {
      cursor: default;
      background: transparent;
      padding: 16px 0;
      border-bottom: 1px solid @border1;
      &:last-of-type {
        border: none;
      }
    }
  }
  .user-info {
    display: flex;
    .avatar {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
    svg {
      margin-right: 12px;
    }
    p {
      line-height: 18px;
    }
    .username {
      font-size: 16px;
      color: @text1;
    }
    .address {
      font-size: 12px;
      color: @text2;
    }
  }
  .balance-wrap {
    width: 100%;
    .@{app-prefix}-collapse {
      background: transparent;
      .@{app-prefix}-collapse-item {
        border: 1px solid @border1;
        overflow: hidden;
        border-radius: 12px;
      }
    }
    .total-balance,
    .token-balance {
      border: none;
      overflow: hidden;
      border-radius: 11px;
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .total-balance {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 100%;
      padding: 15px 0;
      color: @text1;
      border: 1px solid @border1;
      p,
      span {
        color: @text1;
        text-align: center;
      }
      .title {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: @text2;
        margin-bottom: 4px;
      }
      .value {
        font-size: 24px;
        line-height: 36px;
        color: @text1;
        font-weight: 600;
      }
    }
    .token-balance {
      .@{app-prefix}-collapse-item-active {
        svg.@{app-prefix}-collapse-arrow {
          transform: rotate(180deg);
        }
      }
      .@{app-prefix}-collapse-header {
        padding: 15px 16px;
      }
      .@{app-prefix}-collapse-content {
        background: @bg3;
        border-color: @border1;
      }
      .panel-header {
        display: flex;
        align-items: center;
        width: 100%;
        .token-icon {
          width: 32px;
          height: 32px;
          background: @blue2;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          margin-right: 12px;
          user-select: none;
        }
        .name {
          font-size: 20px;
          font-weight: 500;
          color: @text1;
        }
        .balance {
          flex: 1;
          text-align: right;
          padding-right: 21px;
          p {
            &:first-of-type {
              font-weight: 600;
              font-size: 16px;
              color: @text1;
            }
            &:last-of-type {
              font-size: 12px;
              color: @text2;
            }
          }
        }
      }
      .@{app-prefix}-collapse-content-box {
        padding: 0;
      }
      .panel-body {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid @border1;
        p {
          &:first-of-type {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            height: 24px;
            color: @text1;
            margin-bottom: 2px;
          }
          &:last-of-type {
            font-size: 12px;
            line-height: 18px;
            height: 18px;
            color: @text2;
          }
        }
        .body-right {
          text-align: right;
        }
        &:last-of-type {
          border: 0;
        }
      }
    }
  }
}

.mobile-wallet-menu {
  padding-bottom: 6.5714rem;
  .@{app-prefix}-menu {
    background: transparent;
    border: none;
    padding: 0;
    .@{app-prefix}-menu-item {
      height: auto;
      padding: 1.1429rem 0 0.5714rem;
      margin: 0;
    }
  }
  .user-info {
    .avatar {
      width: 4.5714rem;
      height: 4.5714rem;
      margin-right: 0.8571rem;
    }
    .right-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .username {
        font-size: 1.4286rem;
      }
      .address {
        font-size: 1rem;
      }
    }
  }
  .balance-wrap {
    margin-bottom: 1.1429rem;
    .total-balance {
      height: auto;
      padding: 1.0714rem;
      .title {
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 0.2857rem;
      }
      .value {
        line-height: 3.2143rem;
        font-size: 2.1429rem;
      }
    }
    .token-balance {
      .@{app-prefix}-collapse-item-active {
        margin-bottom: 0.2857rem;
      }
      .panel-header {
        .balance {
          padding-right: 2.2857rem;
        }
      }
    }
  }
}
