@import '../../assets/theme/variable.less';
.items-card-wrapper {
  background: linear-gradient(90deg, rgba(166, 20, 255, 0.05) 0%, rgba(0, 71, 255, 0.05) 100%);
  border: 1px solid #3e4659;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.1s;
  font-size: 14px;
  line-height: 21px;
  color: @text1;
  &:hover {
    box-shadow: 0px 4px 20px @blue4;
    border: 1px solid @border2;
    transform: translateY(-2px);
    .items-card-action .@{app-prefix}-btn {
      background: ~'var(--@{app-prefix}-bg-btn)';
      border: none;
    }
  }
  .@{app-prefix}-card-body {
    padding: 16px;
  }

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: @text3;
  }

  .items-user-name {
    padding-right: 22px;
    background: url('../../assets/images/starl.svg') right center no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .value {
    margin-top: 4px;
  }
  .items-title,
  .items-price {
    span {
      display: inline-block;
    }
  }
  .items-price {
    text-align: right;
  }
  .price {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    background-size: 16px;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .price.usd {
    background-image: url('../../assets/images/prefixU.svg');
  }
  .price.elf {
    background-image: url('../../assets/images/prefixELF.svg');
  }
  .numbering {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .items-card-action {
    padding-top: 16px;
    .@{app-prefix}-btn {
      border-radius: 8px;
    }
  }
  .items-last-price {
    & > .text {
      font-size: 14px;
      line-height: 21px;
      color: @text2;
    }
    & > .price {
      font-size: 12px;
      line-height: 18px;
      color: @text1;
      display: inline-block;
      padding-left: 14px;
      margin-left: 6px;
      background-size: 12px 12px;
      margin-top: 6px;
    }
  }
}
