.flex {
  display: flex;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .text-select:focus {
//   color: ~'var(--@{app-prefix}-text-primary)';
// }

// .text-select:focus {
//   color: ~'var(--@{app-prefix}-text-primary)';
// }

/* clear margin & padding */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements */
dl, dt, dd, ul, ol, li, /* list elements */
pre, /* text formatting elements */
fieldset, lengend, button, input, textarea, /* form elements */
th, td {
  /* table elements */
  margin: 0;
  padding: 0;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
} /* remove italic */

/* set list-style */
ul,
ol {
  list-style: none;
}

/* set text-decoration */
a,
a:hover {
  text-decoration: none;
}

q:before,
q:after {
  content: '';
}

/* clear float */
.clearfix:after {
  content: '020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}

html,
body {
  width: 100%;
  height: 100%;
}
