/** button */
.@{ant-prefix}-btn {
  background: ~'var(--@{app-prefix}-bg-btn-default)';
  border-radius: 12px;
  font-weight: 600;
  font-family: Poppins;
  color: ~'var(--@{app-prefix}-text-primary)';
  border: 1px solid rgba(255, 255, 255, 0.8);
  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background: ~'var(--@{app-prefix}-bg-btn-default-hover)';
    color: ~'var(--@{app-prefix}-text-secondary)';
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  &:hover,
  &:focus {
    background: ~'var(--@{app-prefix}-bg-btn-default-hover)';
    color: ~'var(--@{app-prefix}-text-primary)';
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
}

.@{ant-prefix}-btn-primary {
  background: ~'var(--@{app-prefix}-bg-btn)';
  border: none;
  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background: ~'var(--@{app-prefix}-bg-btn-disable)';
    color: rgba(255, 255, 255, 0.4);
    box-shadow: none !important;
  }
  &:hover,
  &:focus {
    border: none;
    background: ~'var(--@{app-prefix}-bg-btn-hover)';
  }
}

/**  input*/
.@{app-prefix}-input {
  background: ~'var(--@{app-prefix}-bg-page)';
  border: ~'var(--@{app-prefix}-border)';
  box-sizing: border-box;
  border-radius: 12px;
  color: ~'var(--@{app-prefix}-text-primary)';

  &:hover,
  &:focus {
    border: ~'var(--@{app-prefix}-border-hover)';
    box-shadow: ~'var(--@{app-prefix}-box-hover)';
  }
  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
  }
  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.4);
  }
}
