.@{ant-prefix}-btn {
  border-radius: 12px;
  font-weight: 600;
  font-family: Poppins;
  color: var(e('--@{app-prefix}-text-primary'));
}
.@{ant-prefix}-btn-primary {
  background: var(e('--@{app-prefix}-bg-btn'));
  border: none;
  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background-color: var(e('--@{app-prefix}-bg-btn-disable'));
    color: rgba(255, 255, 255, 0.4);
    box-shadow: none !important;
  }
  &:hover {
    background-color: var(e('--@{app-prefix}-bg-btn-hover'));
  }
  &:focus {
    background-color: var(e('--@{app-prefix}-bg-btn-hover'));
  }
}

.@{ant-prefix}-btn-default {
  background-color: var(e('--@{app-prefix}-bg-btn-default'));
  border: 1px solid rgba(255, 255, 255, 0.8);
  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background-color: var(e('--@{app-prefix}-bg-btn-default-hover'));
    color: var(e('--@{app-prefix}-text-secondary'));
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  &:hover,
  &:focus {
    background-color: var(e('--@{app-prefix}-bg-btn-default-hover'));
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
}
