@import '../../assets/theme/variable.less';

.aelf-marketplace-header {
  // display: flex;
  color: @text1;
  height: 80px;
  padding: 0 46.6px 0 40px;
  width: 100%;
  background: @bg1;
  box-shadow: 0px 4px 8px @box-shadow2;
  .@{app-prefix}-space-item a {
    color: @text1;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .nav-text {
    &:hover {
      color: ~'var(--@{app-prefix}-brand-light)';
    }
  }
  .@{app-prefix}-space-item .text-select {
    color: ~'var(--@{app-prefix}-brand-light)';
  }
  .btn-wrap {
    gap: 85px !important;
    .text-btn-wrap {
      gap: 40px !important;
    }
    .icon-btn-wrap {
      gap: 42.8px !important;
      display: flex;
      align-items: center;
      .aelf-space-item {
        width: 40px;
        height: 40px;
      }
    }
  }
  .header-account-btn,
  .header-wallet-btn {
    fill: white;
    transition: all 0.3s;
    &:hover {
      fill: @blue2;
    }
  }
}
.overlay-header {
  .aelf-dropdown-menu {
    border-radius: 12px;
    border: 1px solid @border1;
    background: @bg2;
    overflow: hidden;
    padding: 0;
    .aelf-dropdown-menu-item {
      padding: 0 19px;
      min-width: 137px;
      min-height: 56px;
      background: transparent;
      span,
      a {
        display: flex;
        align-items: center;
        color: @text1;
        transition: all 0.3s;
      }
      svg {
        fill: white;
        transition: all 0.3s;
      }
    }
  }
}
.overlay-account {
  .aelf-dropdown-menu {
    margin-top: -6px;
    transform: translateX(-5px);
    .aelf-dropdown-menu-item {
      height: 56px;
      padding: 0 24px 0 19px;
      span,
      a {
        font-size: 16px;
        line-height: 24px;
        height: 100%;
      }
      svg {
        width: 18px;
        margin-right: 11px;
      }
      &:hover {
        background: transparent;
        span,
        a {
          color: @blue2;
        }
        svg {
          fill: @blue2;
        }
      }
    }
  }
}
.overlay-header .unconnected-menu {
  min-width: 304px;
  padding: 16px;
  .aelf-dropdown-menu-item {
    cursor: auto;
    padding: 0;
    border-bottom: 1px solid @border1;
    &:last-of-type {
      border-bottom: none;
    }
  }
  .account-tip {
    padding: 8px 0;
    p {
      margin-bottom: 2px;
      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }
  .connect-btn {
    height: 56px;
  }
}
