@import '../../assets/theme/variable.less';

.aelf-marketplace-header {
  // display: flex;
  color: @text1;
  height: 80px;
  padding: 0 46.6px 0 40px;
  width: 100%;
  background: @bg1;
  box-shadow: 0px 4px 8px @box-shadow2;
  .@{app-prefix}-space-item a {
    color: @text1;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .nav-text {
    &:hover {
      color: ~'var(--@{app-prefix}-brand-light)';
    }
  }
  .@{app-prefix}-space-item .text-select {
    color: ~'var(--@{app-prefix}-brand-light)';
  }
}
