@import '../../assets/theme/variable.less';

.@{app-prefix}-marketplace-header {
  // display: flex;
  z-index: 1;
  color: @text1;
  height: 80px;
  padding: 0 46.6px 0 40px;
  width: 100%;
  background: @bg1;
  box-shadow: 0px 4px 8px @box-shadow2;
  .@{app-prefix}-space-item a {
    color: @text1;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  a {
    display: flex;
  }
  .header-logo {
    width: 103px;
    height: 59px;
  }
  .nav-text {
    &:hover {
      color: ~'var(--@{app-prefix}-brand-light)';
    }
  }
  .@{app-prefix}-space-item .text-select {
    color: ~'var(--@{app-prefix}-brand-light)';
  }
  .btn-wrap {
    gap: 85px !important;
    .text-btn-wrap {
      gap: 40px !important;
    }
    .icon-btn-wrap {
      gap: 42.8px !important;
      display: flex;
      align-items: center;
      .@{app-prefix}-space-item {
        width: 40px;
        height: 40px;
      }
    }
  }
  .header-account-btn,
  .header-wallet-btn {
    fill: white;
    transition: all 0.3s;
    &:hover {
      fill: @blue2;
    }
  }
}
.overlay-header {
  .@{app-prefix}-dropdown-menu {
    border-radius: 12px;
    border: 1px solid @border1;
    background: @bg2;
    overflow: hidden;
    padding: 0;
    .@{app-prefix}-dropdown-menu-item {
      padding: 0 19px;
      min-width: 137px;
      min-height: 56px;
      background: transparent;
      span,
      a {
        display: flex;
        align-items: center;
        color: @text1;
        transition: all 0.3s;
      }
      svg {
        fill: white;
        transition: all 0.3s;
      }
    }
  }
}
.overlay-account {
  .@{app-prefix}-dropdown-menu {
    // margin-top: -6px;
    transform: translateX(-5px);
    .@{app-prefix}-dropdown-menu-item {
      height: 56px;
      padding: 0 24px 0 19px;
      span,
      a {
        font-size: 16px;
        line-height: 24px;
        height: 100%;
      }
      svg {
        width: 18px;
        margin-right: 11px;
      }
      &:hover {
        background: transparent;
        span,
        a {
          color: @blue2;
        }
        svg {
          fill: @blue2;
        }
      }
    }
  }
}
.overlay-header .unconnected-menu {
  min-width: 304px;
  padding: 16px;
  .@{app-prefix}-dropdown-menu-item {
    cursor: auto;
    padding: 0;
    border-bottom: 1px solid @border1;
    &:last-of-type {
      border-bottom: none;
    }
  }
  .account-tip {
    padding: 8px 0;
    p {
      margin-bottom: 2px;
      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }
  .connect-btn {
    height: 56px;
  }
}

.mobile-header {
  height: 4.2857rem;
  padding: 0.7143rem 1.1429rem;
  .mobile-logo {
    width: 4.375rem;
    height: 2.5rem;
  }
}
.header-drawer {
  background: @bg2;
  svg {
    color: white;
    fill: white;
  }
  .@{app-prefix}-drawer-header {
    z-index: 1;
    display: flex;
    height: 4.2857rem;
    padding: 0.7143rem 1.1429rem;
    border: none;
    background: @bg1;
    box-shadow: 0px 4px 8px @box-shadow2;
    flex-direction: row-reverse;
    justify-content: space-between;
    .@{app-prefix}-drawer-extra {
      flex: 1;
      display: flex;
      align-items: center;
      img {
        width: 4.375rem;
        height: 2.5rem;
      }
    }
    .@{app-prefix}-drawer-header-title {
      flex: none;
    }
    .anticon-close svg {
      width: 1.2857rem;
      height: 1.2857rem;
    }
    .@{app-prefix}-drawer-close {
      margin-right: 0.5rem;
    }
  }
  .@{app-prefix}-drawer-body {
    position: relative;
    background: @bg1;
    padding-top: 0;
    span {
      color: @text1;
      font-weight: 600;
      font-size: 1.2857rem;
    }
    .menu-wrap {
      border-bottom: 0.0625rem solid @border1;
      padding-top: 1.625rem;
      padding-bottom: 1.625rem;
      &:last-of-type {
        border-bottom: 0;
      }
      a {
        display: flex;
        align-items: center;
      }
      svg {
        width: 1.5188rem;
        height: 1.5188rem;
        fill: white;
      }
      .menu-item {
        display: flex;
        height: 1.6875rem;
        line-height: 1.6875rem;
        margin-bottom: 2.3125rem;
        span {
          margin-left: 1.3125rem;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .menu-bottom {
      width: calc(100% - 3rem);
      display: flex;
      position: absolute;
      bottom: 2.5rem;
      justify-content: space-around;
      .menu-item {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-right: 0.0625rem solid @border1;
        a {
          display: flex;
        }
        span {
          margin-left: 0.6875rem;
        }
        &:last-of-type {
          border: none;
        }
      }
    }
  }
}
.child-drawer {
  .drawer-title {
    color: @text1;
    font-size: 2.1429rem;
    line-height: 3.2143rem;
    padding-top: 2.8571rem;
    padding-bottom: 0.5714rem;
  }
  .return-wrap {
    background: @bg2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.1429rem 1.7143rem;
    border-top: 0.0714rem solid @border1;
    Button {
      width: 100%;
      padding: 1.1429rem;
      line-height: 1.7143rem;
      height: auto;
    }
  }
}
