@import '~antd/dist/antd.variable.less';
@import './assets/theme/customer.theme.less';
@bg4: linear-gradient(90deg, rgba(166, 20, 255, 0.05) 0%, rgba(0, 71, 255, 0.05) 100%);
.test-class {
  background: @bg4;
  height: 100px;
  width: 100px;
}
